
<main>

  <div layout="row">
    <div flex="10">

    </div>
    <div layout="row" flex="80">
      <div layout="row" flex="66">
        <md-input-container>
          <label>Filter</label>
          <input name="filter" ng-model="s.title">
        </md-input-container>

        <md-input-container>


          <md-select ng-model="$ctrl.orderBy" placeholder="Sort by Date" class="md-no-underline">
            <md-option value="-timeStamp">Sort by Date</md-option>
            <md-option value="title">Sort by Title</md-option>
            <md-option value="-props">Sort by Props</md-option>
          </md-select>

        </md-input-container>
      </div>
      <div flex="33">
        <md-button ng-click="$ctrl.togglePostForm()" class="md-primary">New Post</md-button>
      </div>
    </div>
    <div flex="10">

    </div>
  </div>

  <div layout="row">
    <div flex="10">

    </div>

    <div ng-show="$ctrl.showPostForm" flex="80">
      <form ng-submit="$ctrl.postNew()" layout="column" name="newPostForm">
        <md-input-container>
          <label>Title</label>
          <input name="title" ng-model="$ctrl.title" required>
          <div ng-messages="newPostForm.title.$error">
            <div ng-message="required">Title your post foo!</div>
          </div>
        </md-input-container>

        <md-input-container>
          <label>Post</label>
          <textarea name="body" ng-model="$ctrl.body" required></textarea>
          <div ng-messages="newPostForm.body.$error">
            <div ng-message="required">Don't just talk about it be about it!</div>
          </div>
        </md-input-container>

        <md-input-container>
          <label>Author</label>
          <input name="author" ng-model="$ctrl.author" required>
          <div ng-messages="newPostForm.author.$error">
            <div ng-message="required">Who you is yo‽‽‽</div>
          </div>
        </md-input-container>

        <md-input-container>
          <label>Image URL</label>
          <input name="img_url" ng-model="$ctrl.img_url" required>
          <div ng-messages="newPostForm.img_url.$error">
            <div ng-message="required">Where's your pic G‽‽‽</div>
          </div>
        </md-input-container>

        <md-button type="submit" class="md-primary">Post That shit!</md-button>

      </form>
    </div>

    <div flex="10">

    </div>
  </div>

  <div ng-repeat="post in $ctrl.posts | filter:s:strict | orderBy:$ctrl.orderBy" >
    <post post="post"></post>
  </div>

</main>
